# Entorno virtual
venv/
.venv/
env/
mi_entorno/

# Variables de entorno
*.env

# Archivos de base de datos (si es SQLite local)
#db.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos estáticos generados
/staticfiles/

# Configuración de editores
.vscode/
.idea/

# Mac extra files
.DS_Store/
